html,body {
    min-height: 100%;
    height: 100vh;
}

#title {
    padding-top: 1%;
    padding-bottom: 1%;
    min-height: 10%;
    background: #123456 url('../img/cosmos.jpg') no-repeat;
}

#nav-series {
    /* !*background: #A0C5E8; КРАСИВЫЙ ЦВЕТ!!!! *!*/
    padding: 1%;
}

.dropdown-menu {
    max-height: 150px;
    overflow-x: hidden;
}